# This is Git's per-user configuration file.
[user]
  name = Ezequiel Rosas
  email = ezequiel.rosas@digitalonus.com

[core]
  autocrlf = input
  excludesfile = ~/.gitignore

[push]
  default = simple

[pull]
  rebase = false

[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[color "branch"]
  current = green reverse
  local = normal
  remote = blue
  upstream = green
[color "diff"]
  meta = blue bold reverse
  frag = blue dim reverse
  commit = blue bold reverse ul
  func = normal reverse
  context = normal
  old = dim
  new = bold
  whitespace = white reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  st = status -suno
  stu = status -su
  lg = log --graph --decorate --oneline --abbrev-commit
  lga = log --graph --decorate --oneline --abbrev-commit --branches --remotes --tags --all
  adu = "!f() { git add -u; git status -su; }; f;"
  co = checkout
  cob = checkout -b
  rco = "!f() { git reset HEAD -q -- \"$@\"; git checkout HEAD -q -- \"$@\"; }; f"
  rh = reset --hard
  rhh = reset --hard HEAD
  dh = diff HEAD --
  dhh = diff HEAD -- .
  pick = cherry-pick
  edit = "!f() { git reset 'HEAD^' ; echo 'Remember to run git commit'; }; f"
  drop = rebase --skip
  continue = rebase --continue
  abort = rebase --abort
  fa = fetch --all
  pf = push --force
  pr = pull --rebase
  ff = merge --ff-only
  cim = merge --no-ff
  rbi = rebase --interactive
  pup = !git pull && git submodule init && git submodule update && git submodule status && git submodule foreach git pull origin master

[diff]
  tool = vimdiff
  compactionHeuristic = true

[merge]
  tool = vimdiff

